mixin slide(slideClasses, projLink, projNameClass, projName, projDescNum, projType, projDate)

    section(class=slideClasses)
        h2.proj-name 
            a(class=projNameClass, href=projLink onmouseover="cursorColorChange('#ffc341')" onmouseout="cursorColorChange('#ee3d37')")=projName
        a(href=projLink, class=projDescNum).proj-desc 
            span.proj-type=projType
            span.proj-date=projDate