mixin projectcard(projLink, projNum, projDescNum, projType, projTypeNum, projName, projNameNum, projImgSrc, projImgAlt)
    section.project(class=projNum)
        a(href=projLink)
            h3.proj-type(class=projTypeNum)=projType
        a(href=projLink)
            h2.proj-name(class=projNameNum)=projName
        a(href=projLink)
            img.proj-img(src=projImgSrc, alt=projImgAlt, srcset="")